@()(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>GroupDocs Java SDK Samples</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
        <h5 style="text-align:left;">Choose another one sample:</h5>
        <div style="padding:10px;">
            <ul>
                <li>
                    <a href="/sample-1-how-to-login-to-groupdocs-using-the-api">
                        Sample 1 - How to login to GroupDocs using the API
                    </a>
                </li>
                <li>
                    <a href="/sample-2-how-to-list-files-within-groupdocs-storage-using-the-storage-api">
                        Sample 2 - How to list files within GroupDocs Storage using the Storage API
                    </a>
                </li>
                <li>
                    <a href="/sample-3-how-to-upload-a-file-to-groupdocs-using-the-storage-api">
                        Sample 3 - How to upload a file to GroupDocs using the Storage API
                    </a>
                </li>
                <li>
                    <a href="/sample-4-how-to-download-a-file-from-groupdocs-storage-using-the-storage-api">
                        Sample 4 - How to download a file from GroupDocs Storage using the Storage API
                    </a>
                </li>
                <li>
                    <a href="/sample-5-how-to-copy-move-a-file-using-the-groupdocs-storage-api">
                        Sample 5 - How to copy / move a file using the GroupDocs Storage API
                    </a>
                </li>
                <li>
                    <a href="/sample-6-how-to-add-a-signature-to-a-document-in-groupdocs-signature">
                        Sample 6 - How to add a Signature to a document in GroupDocs Signature
                    </a>
                </li>
                <li>
                    <a href="/sample-7-how-to-create-a-list-of-thumbnails-for-a-document">
                        Sample 7 - How to create a list of thumbnails for a document
                    </a>
                </li>
                <li>
                    <a href="/sample-8-how-to-return-a-url-representing-a-single-page-of-a-document">
                        Sample 8 - How to return a URL representing a single page of a Document
                    </a>
                </li>
                <li>
                    <a href="/sample-9-how-to-generate-an-embedded-viewer-url-for-a-document">
                        Sample 9 - How to generate an embedded Viewer URL for a Document
                    </a>
                </li>
                <li>
                    <a href="/sample-10-how-to-share-a-document-to-other-users">
                        Sample 10 - How to share a document to other users
                    </a>
                </li>
                <li>
                    <a href="/sample-11-how-to-programmatically-create-and-post-an-annotation-into-document">
                        Sample 11 - How programmatically create and post an annotation into document. How to delete the annotation
                    </a>
                </li>
                <li>
                    <a href="/sample-12-how-to-list-all-annotations-from-document">
                        Sample 12 - How to list all annotations from document
                    </a>
                </li>
                <li>
                    <a href="/sample-13-how-to-add-collaborator-to-doc-with-annotations">
                        Sample 13 - How to add collaborator to doc with annotations
                    </a>
                </li>
                <li>
                    <a href="/sample-14-how-to-check-the-list-of-shares-for-a-folder">
                        Sample 14 - How to check the list of shares for a folder
                    </a>
                </li>
                <li>
                    <a href="/sample-15-how-to-check-the-number-of-document's-views">
                        Sample 15 - How to check the number of document's views
                    </a>
                </li>
                <li>
                    <a href="/sample-16-how-to-insert-assembly-questionnaire-into-webpage">
                        Sample 16 - How to insert Assembly questionary into webpage
                    </a>
                </li>
                <li>
                    <a href="/sample-17-how-to-upload-a-file-into-the-storage-and-compress-it-into-zip-archive">
                        Sample 17 - How to upload a file into the storage and compress it into zip archive
                    </a>
                </li>
                <li>
                    <a href="/sample-18-how-to-convert-doc-to-docx-docx-to-doc-docx-to-pdf-ppt-to-pdf">
                        Sample 18 - How to convert Doc to Docx, Docx to Doc, Docx to PDF and PPT to PDF
                    </a>
                </li>
                <li>
                    <a href="/sample-19-how-to-compare-documents">
                        Sample 19 - How to Compare documents using Java SDK
                    </a>
                </li>
                <li>
                    <a href="/sample-20-how-to-get-compare-change-list-for-document">
                        Sample 20 - How to Get Compare Change list for document using Java SDK
                    </a>
                </li>
                <li>
                    <a href="/sample-21-how-to-create-and-upload-envelop-to-groupdocs-account">
                        Sample 21 - How to Create and Upload Envelop to GroupDocs account using Java SDK
                    </a>
                </li>
                <li>
                    <a href="/sample-22-how-to-create-or-update-user-and-add-him-to-collaborators">
                        Sample 22 - This sample will show how create or update user and add him to collaborators using Java SDK
                    </a>
                </li>
                <li>
                    <a href="/sample-23-how-to-view-document-pages-as-images">
                        Sample 23 - How to View Document pages as images using Java SDK
                    </a>
                </li>
                <li>
                    <a href="/sample-24-how-to-use-storageapi-to-upload-fil-from-url-to-groupdocs-account">
                        Sample 24 - How to use StorageApi to upload file from URL to GroupDocs account using Java SDK
                    </a>
                </li>
                <li>
                    <a href="/sample-25-how-to-merge-assemble-and-convert-document">
                        Sample 25 - How to merge data fields in docx file with data source and get result file as PDF file using Java SDK
                    </a>
                </li>
                <li>
                    <a href="/sample-26-how-to-use-login-method-in-the-api">
                        Sample 26 - How to Login to GroupDocs account using Java SDK
                    </a>
                </li>
                <li>
                    <a href="/sample-27-how-to-create-your-own-questionnaire-using-forms-and-show-the-result-document">
                        Sample 27 - How to create your own questionary using forms and show the result document using Java SDK
                    </a>
                </li>
                <li>
                    <a href="/sample-28-how-to-delete-all-annotations-from-document">
                        Sample 28 - How to delete all annotations from document using Java SDK
                    </a>
                </li>
                <li>
                    <a href="/sample-29-how-to-use-filepicker-io-to-upload-document-and-get-it's-url">
                        Sample 29 - How to use Filepicker.io to upload document and get it's URL
                    </a>
                </li>
                <li>
                    <a href="/sample-30-how-to-delete-file-from-groupdocs-storage">
                        Sample 30 - How to delete file from GroupDocs Storage using Java SDK
                    </a>
                </li>
                <li>
                    <a href="/sample-31-how-to-dynamically-create-signature-form-using-data-from-html-form">
                        Sample 31 - How to dynamically create Signature Form using data from HTM form
                    </a>
                </li>
                <li>
                    <a href="/sample-32-how-to-create-signature-form-publish-it-and-configure-notification-via-callback">
                        Sample 32 - How to create signature form, publish it and configure notification when it was signed
                    </a>
                </li>
                <li>
                    <a href="/sample-33-how-to-convert-several-html-documents-into-one-pdf-document">
                        Sample 33 - How to convert several HTML documents to PDF and merge them to one document
                    </a>
                </li>
                <li>
                    <a href="/sample-34-how-to-create-folder-in-the-groupdocs-account">
                        Sample 34 - How to create folder in the GroupDocs account
                    </a>
                </li>
                <li>
                    <a href="/sample-35-how-to-get-fields-and-their-data-from-pdf-file">
                        Sample 35 - How to get fields and their data from PDF file
                    </a>
                </li>
                <li>
                    <a href="/sample-36-how-to-download-signed-documents-when-envelope-was-signed">
                        Sample 36 - How to download signed documents when envelope was signed using Java SDK
                    </a>
                </li>
                <li>
                    <a href="/sample-37-how-to-use-storage-api-to-create-and-upload-envelop-to-groupdocs-account-and-get-signed-document">
                        Sample 37 - How to Create and Upload Envelop to GroupDocs account and get signed document using Java SDK
                    </a>
                </li>
                <li>
                    <a href="/sample-38-how-to-create-new-user-and-add-him-as-collaborator-to-doc-with-annotations">
                        Sample 38 - How to create new user and add him as collaborator to doc with annotations using Java SDK
                    </a>
                </li>
                <li>
                    <a href="/sample-39-how-to-add-a-signature-to-a-document-and-redirect-after-signing-with-groupdocs-widget">
                        Sample 39 - How to add a Signature to a document and redirect after signing with GroupDocs widget
                    </a>
                </li>
                <li>
                    <a href="/sample-40-how-to-set-callback-for-signature-form-and-re-direct-when-it-was-signed">
                        Sample 40 - How to set callback for signature form and re-direct when it was signed using
                    </a>
                </li>
                <li>
                    <a href="/sample-42-how-to-download-document-with-annotations-using-groupdocs">
                        Sample 42 - How to download document with annotations using Java SDK
                    </a>
                </li>
                <li>
                    <a href="/sample-43-how-to-add-numeration-in-the-doc-file">
                        Sample 43 - How to add numeration in the doc file using Java SDK
                    </a>
                </li>
                <li>
                    <a href="/sample-44-how-to-assemble-document-and-add-multiple-signatures-and-signers-to-a-document">
                        Sample 44 - How to assemble document and add multiple Signatures and Signers to a document
                    </a>
                </li>
                <li>
                    <a href="/sample-45-how-to-check-statistic-info-for-the-document">
                        Sample 45 - How to check statistic info for the document
                    </a>
                </li>
            </ul>
        </div>
    <div style="text-align: center; font-size: 8px; margin-bottom: 10px;">Samples v1.9.1 for SDK v1.9.1</div>
        <script type="text/javascript" language="JavaScript">
           $(document).ready(function(){
               document.title = $("#title").text();
            });
        </script>
    </body>
</html>
