@(title: String, subTitle: String, moveResult: FileMoveResult, aForm: Form[Credentials])

@import helper._

@main(title) {

<h3 style="text-align:center;"><a href="/">@title</a> - @subTitle</h3>

<div class='samplecontent' style="padding:10px;">
   Sample is under development. <i>This sample will show how to use StorageApi to Copy/Move file in GroupDocs using Java SDK</i> <br/>
   
   <br/>
   <div id="requestForm" style="padding:20px; border:1px solid black;">
		<p>Enter data for request and press "Make request" button </p>
		@myForm(routes.Sample5.index(), 'method -> "POST") {
			@aForm.globalErrors.map { error =>
			  @if(error.arguments.size > 0){
				  <div>@error.message <a href="@error.arguments.get(0)" target="_blank">@error.arguments.get(1)</a></div>
			  } else {
				  <div>@error.message</div>
			  }
			}
	        @inputText(aForm("privateKey"), '_label -> "Private Key", 'size -> 100) 
	        @inputText(aForm("clientId"), '_label -> "Client ID", 'size -> 100)
	        @inputText(aForm("srcPath"), '_label -> "Source Path", 'size -> 100, 'placeholder -> "myFile.doc or myFolder/myFile.doc")
	        @inputText(aForm("destPath"), '_label -> "Destination Path", 'size -> 100, 'placeholder -> "myNewFile.doc or myFolder/myNewFile.doc")
	        <input type="submit" name="copy" value="Copy"><input type="submit" name="move" value="Move">
        }
   </div>

@if(moveResult != null){
   <br/> 
   <div  style="padding:20px; border:1px solid black;">
        <p> Results: </p>
        <table style="border:1px double black;">
          <tr>
              <th>Source File</th><th>Destination File</th>
          </tr>
          <tr>
               <td>@moveResult.getSrc_file.getName</td><td>@moveResult.getDst_file.getName</td>
          </tr>
          <tr>
               <td>@moveResult.getSrc_file.getDocument_path</td><td>@moveResult.getDst_file.getDocument_path</td>
          </tr>
          <tr>
               <td>@moveResult.getSrc_file.getGuid</td><td>@moveResult.getDst_file.getGuid</td>
          </tr>
          <tr>
               <td>@moveResult.getSrc_file.getId</td><td>@moveResult.getDst_file.getId</td>
          </tr>
        </table>
   </div>
}

</div>

}