@(success: Boolean, url: String, aForm: Form[controllers.BaseController.Sample40Form])

@import helper._

@* Register customInput as field constructor for this page (customize input field) *@
@implicitField = @{
    FieldConstructor(customInput.f)
}

@main() {

    <h3 style="text-align:center;"><a href="/">GroupDocs Java Java Samples</a> <br/>
        <div id="title">Sample 40 - This sample will show how to set callback for signature form and re-direct when it was signed</div>
    </h3>

    <div class='samplecontent' style="padding:10px;">
    <i>This sample will show how to set callback for signature form and re-direct when it was signed</i> <br/>
    <br />
    <a href="@routes.Assets.at("docs/Sample40.html")">Docs for this sample</a>
    <br />
    <br/>
    <div id="requestForm" style="padding:20px; border:1px solid black;">
    <p>Enter data for request and press "Make request" button</p>
    @myForm(routes.Sample40.index(), 'method -> "POST", 'enctype -> "multipart/form-data") {
        @if(aForm.hasGlobalErrors) {
            <p>
                Error:
                @for(validationError <- aForm.globalErrors) {
                    <span style="display: block; color: red; font-size: 12px;">@validationError.message</span>
                }
            </p>
        }
        @inputText(aForm("clientId"), '_label -> "Client ID", 'size -> 50, 'required -> true)
        @inputText(aForm("privateKey"), '_label -> "Private Key", 'size -> 50, 'required -> true)
        @inputText(aForm("basePath"), '_label -> "Base URL", 'size -> 50)
        @inputText(aForm("formGuid"), '_label -> "GroupDoc Form Guid", 'size -> 50, 'required -> true)
        @inputText(aForm("callbackUrl"), '_label -> "Callback Url", 'size -> 50)
        <div style="color: #808080; font-size: 10px">
            For test Callback you can use this URL: http://groupdocs-php-samples.herokuapp.com/sample40_callback
        </div>
    <input type="submit" value="Make Request"/>
    </div>
<br />

    }
@if(success) {
    <div style="padding:20px; border:1px solid black;">
        <p>Form is published successfully</p>
        <p>Results:</p>
        <iframe src="@url" width="875" height="800"></iframe>
    </div>
}
</div>
</div>
    }