@(title: String, subTitle: String, data: HashMap[String, String], aForm: Form[Credentials])

@import helper._

@* Register customInput as field constructor for this page (customize input field) *@
@implicitField = @{ FieldConstructor(customInput.f) }

@main(title) {

<h3 style="text-align:center;"><a href="/">@title</a> - @subTitle</h3>

<div class='samplecontent' style="padding:10px;">
   <i>This sample will show how to generate a embedded Viewer URL for a Document using Java SDK</i> <br/>
   <br />
    <a href="@routes.Assets.at("docs/Sample09.html")">Docs for this sample</a>
    <br />
   <br />
   <div id="requestForm" style="padding:20px; border:1px solid black;">
		<p>Enter data for request and press "Make request" button </p>
		@myForm(routes.Sample09.index(), 'method -> "POST", 'enctype -> "multipart/form-data") {
	        @aForm.globalErrors.map { error =>
			  @if(error.arguments.size > 0){
				  <div>@error.message <a href="@error.arguments.get(0)" target="_blank">@error.arguments.get(1)</a></div>
			  } else {
				  <div>@error.message</div>
			  }
			}

            <div>
                <div id="IDtypeChoice" class="file-choice-block">
                <input type="radio" value="guid" onclick="" id="IDfileIdRadio" name="sourse" />
                    <label for="IDfileIdRadio" class="file-choice-label">File GUID</label>
                <input type="radio" value="url" onclick="" id="IDfileUrlRadio" name="sourse" />
                    <label for="IDfileUrlRadio" class="file-choice-label">File URL</label>
                <input type="radio" value="local" onclick="" id="IDfilePartRadio" name="sourse" />
                    <label for="IDfilePartRadio" class="file-choice-label">Local file</label>
                </div>
                <div id="guid">
                    @inputText(aForm("fileId"), '_label -> "File GUID", 'size -> 50, 'required -> true, 'id -> "guidfield")
                </div>
                <div id="url">
                    @inputText(aForm("client_id"), '_label -> "Client ID", 'size -> 50)
                    @inputText(aForm("private_key"), '_label -> "Private Key", 'size -> 50)
                    @inputText(aForm("server_type"), '_label -> "Base URL", 'size -> 50)
                    @inputText(aForm("url"), '_label -> "File Url", 'size -> 50, 'required -> true, 'id -> "urlfield")
                </div>
                <div id="local">
                    @inputText(aForm("client_id"), '_label -> "Client ID", 'size -> 50)
                    @inputText(aForm("private_key"), '_label -> "Private Key", 'size -> 50)
                    @inputText(aForm("baseurl"), '_label -> "Base URL", 'size -> 50)
                    @inputFile(aForm("file"), '_label -> "Select file", 'required -> true, 'id -> "filefield")
                </div>
            </div>
            @inputText(aForm("height"), '_label -> "Height", 'size -> 50, 'placeholder -> "1000 or 1000px")
            @inputText(aForm("width"), '_label -> "Width", 'size -> 50, 'placeholder -> "100%")
	        <input type="submit" value="Make Request">
        }
   </div>
   <br/> 
@if(data != null){
   <div  style="padding:20px; border:1px solid black;">
       <iframe src='https://apps.groupdocs.com/document-viewer/embed/@data.get("guid") ?frameborder="0" width=@data.get("width") height=@data.get("height") '></iframe>
        <p> Results: </p>
        <table style="border:1px double black;">
          <tr>
              <th>Key</th><th>Value</th>
          </tr>
@for((key, value) <- data){
          <tr>
               <td>@key</td><td>@value</td>
          </tr>
}
        </table>
   </div>
}


    
</div>
    <script type="text/javascript" language="JavaScript">
        $(function(){
            changeType.allChk = ['guid', 'url', 'local'];
            $('#IDfileIdRadio, #IDfileUrlRadio, #IDfilePartRadio').click(changeType);
            $('#IDfileIdRadio').click();
        });
    </script>

}