@(title: String, subTitle: String, gdFile: String, aForm: Form[Credentials])

@import helper._

@main(title) {

<h3 style="text-align:center;"><a href="/">@title</a> - @subTitle</h3>

<div class='samplecontent' style="padding:10px;">
   Sample is under development. <i>This sample will show how to upload a file into the storage and compress it into zip archive using Java SDK</i> <br/>
   <br />
    <a href="/docs/sample17.html">Docs for this sample</a>
    <br />
   <br/>
   <p><font color="green">You entered: </font></p>
		<p>Client Id = @aForm.data.get("client_id")</p>
		<p>Private Key = @aForm.data.get("private_key")</p>
		
   <div id="requestForm" style="padding:20px; border:1px solid black;">
		<p>Enter data for request and press "Make request" button </p>
		@myForm(routes.Sample17.index(), 'method -> "POST", 'enctype -> "multipart/form-data") {
			@aForm.globalErrors.map { error =>
			  @if(error.arguments.size > 0){
				  <div>@error.message <a href="@error.arguments.get(0)" target="_blank">@error.arguments.get(1)</a></div>
			  } else {
				  <div>@error.message</div>
			  }
			}
            @inputText(aForm("client_id"), '_label -> "Client ID", 'size -> 100)
	        @inputText(aForm("private_key"), '_label -> "Private Key", 'size -> 100) 
	        @inputFile(aForm("file"), '_label -> "File")
	        <input type="submit" value="Make Request">
        }
   </div>

@if(gdFile != null){
   
   <div  style="padding:20px; border:1px solid black;">
        <p>Results:</p>
        <p>Archive created and saved successfully as <font color="green">@gdFile</font>
    </div>
}



</div>

}