@(success: Boolean, renderName: String, fields: List[com.groupdocs.sdk.model.TemplateField], aForm: play.data.Form[Credentials], docGuid: String, signedUrl: String)

@import helper._
@import java.math.BigInteger; var countCheckBox=0; var countRadio=0; var countCombo =1
@* Register customInput as field constructor for this page (customize input field) *@
@implicitField = @{
    FieldConstructor(customInput.f)
}

@main() {

    <h3 style="text-align:center;"><a href="/">GroupDocs Java SDK Samples</a> <br/>
        <div id="title">Sample 35 - How to merge data fields in docx file with data source and get result file as PDF file</div>
    </h3>

    <div class='samplecontent' style="padding:10px;">
        <i>This sample will show how to merge data fields in docx file with data source and get result file as PDF file using Java SDK</i> <br/>
    <br />
        <a href="@routes.Assets.at("docs/Sample35.html")">Docs for this sample</a>
    <br />
    <br/>
        <div id="requestForm" style="padding:20px; border:1px solid black;">
            <p>Enter data for request and press "Make request" button</p>
            @myForm(routes.Sample35.index(), 'method -> "POST", 'enctype -> "multipart/form-data") {
                @if(aForm.hasGlobalErrors) {
                    <p>
                        Error:
                        @for(validationError <- aForm.globalErrors) {
                            <span style="display: block; color: red; font-size: 12px;">@validationError.message</span>
                        }
                    </p>
                }
                @if(renderName == null){
                    @inputText(aForm("clientId"), '_label -> "Client ID", 'size -> 50)
                    @inputText(aForm("privateKey"), '_label -> "Private Key", 'size -> 50)
                    @inputText(aForm("basePath"), '_label -> "Base URL", 'size -> 50)
                    <div>
                        <div id="IDtypeChoice" class="file-choice-block">
                        <input type="radio" value="guid" onclick="" id="IDfileIdRadio" name="sourse"/>
                            <label for="IDfileIdRadio" class="file-choice-label">File GUID</label>
                        <input type="radio" value="url" onclick="" id="IDfileUrlRadio" name="sourse"/>
                            <label for="IDfileUrlRadio" class="file-choice-label">File URL</label>
                        <input type="radio" value="local" onclick="" id="IDfilePartRadio" name="sourse"/>
                            <label for="IDfilePartRadio" class="file-choice-label">Local file</label>
                        </div>
                        <div id="guid">
                        @inputText(aForm("fileId"), '_label -> "File GUID", 'size -> 50, 'required -> true, 'id -> "guidField")
                        </div>
                        <div id="url">
                        @inputText(aForm("url"), '_label -> "File Url", 'size -> 50, 'required -> true, 'id -> "urlField")
                        </div>
                        <div id="local">
                        @inputFile(aForm("file"), '_label -> "Select file", 'required -> true, 'id -> "fileField")
                        </div>
                    </div>
                    <input type="submit" value="Make Request">
                }
                @if(renderName == "show:form"){
                    <div id="formForAssembly" style="background-color:#e5e5e5;border:3px double gray;width:700px;padding:3px;font-size:10pt;">
                        @for(field <- fields){



                                @if(field.getType() == "Checkbox"){
                                    <br/>
                                    <input type="checkbox" name="@field.getName()" value="@countCheckBox" />@field.getName()
                                    @if(field.getMandatory().toString() == "false"){
                                        <span class="optional">(Optional)</span>
                                    }else{
                                        <span class="optional">(Required)</span>
                                    }
                                    <br/>
                                    @{countCheckBox = countCheckBox + 1}

                                }
                                @if(field.getType() == "RadioButton"){
                                    <br/>
                                    <input type="radio" name="@field.getName()" value="@countRadio" />@field.getName()
                                    @if(field.getMandatory().toString() == "false"){
                                        <span class="optional">(Optional)</span>
                                    }else{
                                        <span class="optional">(Required)</span>
                                    }
                                    <br/>
                                    @{countRadio = countRadio + 1}
                                }
                                @if(field.getType() == "MultiLineText"){
                                    <br/>
                                    <label for="@field.getName()" style="height: 25px; width: 100px; float: left; line-height: 25px;">@field.getName()
                                    @if(field.getMandatory().toString() == "false"){
                                    <span class="optional">(Optional)</span>
                                    }else{
                                    <span class="optional">(Required)</span>
                                    }
                                    </label><br/>
                                    <textarea name="@field.getName()" ></textarea><br/>
                                }
                                @if(field.getType() == "Text" ){
                                    <br/>
                                    <label for="@field.getName()" style="height: 25px; width: 100px; float: left; line-height: 25px;">@field.getName()
                                    @if(field.getMandatory().toString() == "false"){
                                    <span class="optional">(Optional)</span>
                                    }else{
                                    <span class="optional">(Required)</span>
                                    }
                                    </label><br/>
                                    <br/><input type="text" name="@field.getName()" id="" /><br/>
                                }
                                @if(field.getType() == "Listbox" ){
                                    <br/>
                                    <label for="@field.getName()" style="height: 25px; width: 100px; float: left; line-height: 25px;">@field.getName()
                                    @if(field.getMandatory().toString() == "false"){
                                    <span class="optional">(Optional)</span>
                                    }else{
                                    <span class="optional">(Required)</span>
                                    }
                                    </label>
                                    <br/>
                                    <select multiple type="text" name="@field.getName()[]" />
                                    @for(option <- field.getAcceptableValues()){
                                        <option value="@countCombo">@option</option>
                                        @{countCombo = countCombo + 1}
                                    }
                                    </select><br/>
                                }

                        }

                    </div>
                    <input type="hidden" name="guid" value="@docGuid" />
                    <input type="hidden" name="merge" value="Yes" />
                    <input type="submit" value="Merge" id="button" />
                }
                @if(renderName == "show:doc"){
                    <iframe src="@signedUrl" frameborder="0" width="800" height="600"></iframe>
                }
            }
        </div>

        @if(success) {
            <div style="padding:20px; border:1px solid black;">
                <span style="color: green">messages</span>

            </div>
        }
    </div>
    <script type="text/javascript" language="JavaScript">
    $(function(){
    changeType.allChk = ['guid', 'url', 'local'];
    $('#IDfileIdRadio, #IDfileUrlRadio, #IDfilePartRadio').click(changeType);
    $('#IDfilePartRadio').click();
} );
</script>
    }