@(title: String, subTitle: String, gdFile: UploadRequestResult, aForm: Form[Credentials])

@import helper._

@main(title) {

<h3 style="text-align:center;"><a href="/">@title</a> - @subTitle</h3>

<div class='samplecontent' style="padding:10px;">
   Sample is under development. <i>This sample will show how to use StorageApi to upload file to GroupDocs using Java SDK</i> <br/>
   
   <br/>
   <div id="requestForm" style="padding:20px; border:1px solid black;">
		<p>Enter data for request and press "Make request" button </p>
		@myForm(routes.Sample3.index(), 'method -> "POST", 'enctype -> "multipart/form-data") {
			@aForm.globalErrors.map { error =>
			  @if(error.arguments.size > 0){
				  <div>@error.message <a href="@error.arguments.get(0)" target="_blank">@error.arguments.get(1)</a></div>
			  } else {
				  <div>@error.message</div>
			  }
			}
	        @inputText(aForm("privateKey"), '_label -> "Private Key", 'size -> 100) 
	        @inputText(aForm("clientId"), '_label -> "Client ID", 'size -> 100)
	        @inputFile(aForm("resourceFile"), '_label -> "File")
	        <input type="submit" value="Make Request">
        }
   </div>

@if(gdFile != null){
   <br/> 
   <div  style="padding:20px; border:1px solid black;">
        <p> Results: </p>
        <table style="border:1px double black;">
          <tr>
              <th>File Name</th><th>File Guid</th>
          </tr>
          <tr>
               <td>@gdFile.getAdj_name</td><td>@gdFile.getGuid</td>
          </tr>
        </table>
   </div>
}

</div>

}