@(success: Boolean, sharedUsers: List[com.groupdocs.sdk.model.UserInfo], aForm: Form[Credentials])

@import helper._

@* Register customInput as field constructor for this page (customize input field) *@
@implicitField = @{
    FieldConstructor(customInput.f)
}

@main() {

    <h3 style="text-align:center;"><a href="/">GroupDocs Java SDK Samples</a> - Sample 14</h3>

    <div class='samplecontent' style="padding:10px;">
        <i>This sample will show how to check the list of shares for a folder using Java SDK</i> <br/>
    <br />
        <a href="@routes.Assets.at("docs/Sample14.html")">Docs for this sample</a>
    <br />
    <br/>
        <p style="color: green;">You entered:</p>
        <p>Client Id = @aForm.data.get("clientId")</p>
        <p>Private Key = @aForm.data.get("privateKey")</p>
        <p>Path = @aForm.data.get("path")</p>

        <div id="requestForm" style="padding:20px; border:1px solid black;">
            <p>Enter data for request and press "Make request" button</p>

            @myForm(routes.Sample14.index(), 'method -> "POST", 'enctype -> "multipart/form-data") {
                @if(aForm.hasGlobalErrors) {
                    <p>
                        Error:
                        @for(validationError <- aForm.globalErrors) {
                            <span style="display: block; color: red; font-size: 12px;">@validationError.message</span>
                        }
                    </p>
                }
                @inputText(aForm("clientId"), '_label -> "Client ID", 'size -> 50)
                @inputText(aForm("privateKey"), '_label -> "Private Key", 'size -> 50)
                @inputText(aForm("basePath"), '_label -> "Base URL", 'size -> 50)
                @inputText(aForm("path"), '_label -> "Source Path", 'size -> 50, 'placeholder -> "myFolder", 'required -> true)
                <input type="submit" value="Make Request"/>
            }
        </div>
        <div style="padding:20px; border:1px solid black;">
            <p>Results:</p>
            <p>
                Shared users:
                @if(success) {
                    @if(sharedUsers.size == 0){
                        <span style="color: green">No shared users</span>
                    }
                    @for(name <- sharedUsers) {
                        <span style="color: green;">@name.getNickname</span> <br />
                    }
                }
            </p>
        </div>
    </div>
}