@(title: String, subTitle: String, url: String, aForm: Form[Credentials])

@import helper._

@main(title) {

<h3 style="text-align:center;"><a href="/">@title</a> - @subTitle</h3>

<div class='samplecontent' style="padding:10px;">
   Sample is under development. <i>This sample will show how to to View Document pages as images using Java SDK</i> <br/>
   <br />
    <a href="/docs/sample23.html">Docs for this sample</a>
    <br />
   <br/>
   <p><font color="green">You entered: </font></p>
		<p>Client Id = @aForm.data.get("client_id")</p>
		<p>Private Key = @aForm.data.get("private_key")</p>
		
   <div id="requestForm" style="padding:20px; border:1px solid black;">
		<p>Enter data for request and press "Make request" button </p>
		@myForm(routes.Sample23.index(), 'method -> "POST") {
			@aForm.globalErrors.map { error =>
			  @if(error.arguments.size > 0){
				  <div>@error.message <a href="@error.arguments.get(0)" target="_blank">@error.arguments.get(1)</a></div>
			  } else {
				  <div>@error.message</div>
			  }
			}
            @inputText(aForm("client_id"), '_label -> "Client ID", 'size -> 100)
	        @inputText(aForm("private_key"), '_label -> "Private Key", 'size -> 100) 
	        @inputText(aForm("fileId"), '_label -> "File GUID", 'size -> 100)
	        <br />
	        <label for='server_type'>Choose Server</label>
                <select name="server_type" id="server_type">
                    <option selected value="https://api.groupdocs.com/v2.0">Prod</option>
                    <option value="https://dev-api.groupdocs.com/v2.0">Dev</option>
                    <option value="https://stage-api.groupdocs.com/v2.0">Stage</option>
                </select>
            <br />
	        <input type="submit" value="Make Request">
        }
   </div>

@if(url != null){
   <br/> 
   <div  style="padding:20px; border:1px solid black;">
        Result: 
        <br />
        <iframe src=@url></iframe>
   </div>
   
}



</div>

}