@(success: Boolean, filesList: List[com.groupdocs.sdk.model.FileSystemDocument], aForm: Form[Credentials])

@import helper._

@* Register customInput as field constructor for this page (customize input field) *@
@implicitField = @{
    FieldConstructor(customInput.f)
}

@main() {

<h3 style="text-align:center;"><a href="/">GroupDocs Java SDK Samples</a> <br/>
    <div id="title">Sample 2 - How to use StorageApi to list user files</div>
</h3>

    <div class='samplecontent' style="padding:10px;">
    <i>This sample will show how to use StorageApi to list user files using Java SDK</i> <br/>
    <br />
    <a href="@routes.Assets.at("docs/Sample02.html")">Docs for this sample</a>
    <br />
    @if(aForm != null) {
        <br/>
        <p>You entered:</p>
        <p>ClientID = @aForm.data.get("clientId")</p>
        <p>PrivateKey = @aForm.data.get("privateKey")</p>
        <p>Base path = @aForm.data.get("basePath")</p>
    }
    <br/>
    <div id="requestForm" style="padding:20px; border:1px solid black;">
        <p>Enter data for request and press "Make request" button</p>
        @myForm(routes.Sample02.index(), 'method -> "POST") {
            @if(aForm.hasGlobalErrors) {
                <p>
                    Error:
                    @for(validationError <- aForm.globalErrors) {
                        <span style="display: block; color: red; font-size: 12px;">@validationError.message</span>
                    }
                </p>
            }
            @inputText(aForm("clientId"), '_label -> "Client ID", 'size -> 50)
            @inputText(aForm("privateKey"), '_label -> "Private Key", 'size -> 50)
            @inputText(aForm("basePath"), '_label -> "Base URL", 'size -> 50)
            <input type="submit" value="Make Request">
        }
    </div>

    @if(success) {
        <br/>


        <div style="padding:20px; border:1px solid black;">
            <p>Results:</p>
            <table style="border:1px double black;">
                <tbody>
                    <tr>
                        <th>Field</th>
                        <th>Value</th>
                    </tr>
                    <tr>
                        <td>Files list</td>
                        <td>
                        @for(file <- filesList) {
                            <input type="hidden" name="guid[]" value="@file.getGuid"/>
                            @file.getName <br />

                        }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
    </div>

}