@(title: String, subTitle: String, thumbnailUrls: List[String], aForm: Form[Credentials])

@import helper._

@main(title) {

<h3 style="text-align:center;"><a href="/">@title</a> - @subTitle</h3>

<div class='samplecontent' style="padding:10px;">
   Sample is under development. <i>This sample will show how to use Document Api to list thumbnails for a document using Java SDK</i> <br/>
   
   <br/>
   <div id="requestForm" style="padding:20px; border:1px solid black;">
		<p>Enter data for request and press "Make request" button </p>
		@myForm(routes.Sample7.index(), 'method -> "POST") {
			@aForm.globalErrors.map { error =>
			  @if(error.arguments.size > 0){
				  <div>@error.message <a href="@error.arguments.get(0)" target="_blank">@error.arguments.get(1)</a></div>
			  } else {
				  <div>@error.message</div>
			  }
			}
	        @inputText(aForm("privateKey"), '_label -> "Private Key", 'size -> 100) 
	        @inputText(aForm("clientId"), '_label -> "Client ID", 'size -> 100)
	        @inputText(aForm("fileGuid"), '_label -> "File GUID", 'size -> 100)
	        @inputText(aForm("dimension"), '_label -> "Dimension", 'size -> 100, 'placeholder -> "150x150")
	        <input type="submit" value="Make Request">
        }
   </div>

@if(thumbnailUrls != null){
   <br/> 
   <div  style="padding:20px; border:1px solid black;">
        <p> Results: </p>
        <table style="border:1px double black;">
          <tr>
              <th>Page Number</th><th>Thumbnail</th>
          </tr>
@for((url, i) <- thumbnailUrls.view.zipWithIndex){
          <tr>
               <td>@i</td><td><img src="@url" /></td>
          </tr>
}
        </table>
   </div>
}

</div>

}