@(success: Boolean, moveResult: com.groupdocs.sdk.model.FileMoveResult, aForm: Form[Credentials], action: String)

@import helper._

@* Register customInput as field constructor for this page (customize input field) *@
@implicitField = @{
    FieldConstructor(customInput.f)
}

@main() {

    <h3 style="text-align:center;"><a href="/">GroupDocs Java SDK Samples</a> <br/>
        <div id="title">Sample 5 - How to use StorageApi to Copy/Move file in GroupDocs</div>
    </h3>

    <div class='samplecontent' style="padding:10px;">
    <i>This sample will show how to use StorageApi to Copy/Move file in GroupDocs using Java SDK</i> <br/>
    <br />
    <a href="@routes.Assets.at("docs/Sample05.html")">Docs for this sample</a>
    <br />
    @if(aForm != null) {
        <br/>
        <p>You entered:</p>
        <p>ClientID = @aForm.data.get("clientId")</p>
        <p>PrivateKey = @aForm.data.get("privateKey")</p>
        <p>Base path = @aForm.data.get("basePath")</p>
    }
    <br/>
    <div id="requestForm" style="padding:20px; border:1px solid black;">
        <p>Enter data for request and press "Make request" button</p>

        @myForm(routes.Sample05.index(), 'method -> "POST", 'enctype -> "multipart/form-data") {
            @if(aForm.hasGlobalErrors) {
                <p>
                    Error:
                    @for(validationError <- aForm.globalErrors) {
                        <span style="display: block; color: red; font-size: 12px;">@validationError.message</span>
                    }
                </p>
            }
            @inputText(aForm("clientId"), '_label -> "Client ID", 'size -> 50)
            @inputText(aForm("privateKey"), '_label -> "Private Key", 'size -> 50)
            <div id="GuidDiv" style="margin-top: 10px">
            <input type="radio" name="sourse" value="guid" id="GuidInput" checked/>
                <label for="GuidInput">File ID (GUID)</label>
            </div>
            <div id="LocalDiv">
            <input type="radio" name="sourse" value="local" id="LocalInput"/>
                <label for="LocalInput">Upload local file</label>
            </div>
            <div id="UrlDiv" style="margin-bottom: 10px">
            <input type="radio" name="sourse" value="url" id="UrlInput"/>
                <label for="UrlInput">Upload file from URL</label>
            </div>

            <div id="guidBlock" style="display: block;">
            @inputText(aForm("srcPath"), '_label -> "GUID", 'id -> "guidField", 'size -> 50, 'required -> true)
            </div>
            <div id="fileBlock" style="display: none;">
            @inputFile(aForm("file"), '_label -> "Local File", 'id -> "fileField", 'required -> true)
            </div>
            <div id="urlBlock" style="display: none;">
            @inputText(aForm("url"), '_label -> "File URL", 'id -> "urlField", 'size -> 50, 'required -> true)
            </div>
            @inputText(aForm("destPath"), '_label -> "Destination folder", 'size -> 50)
            @inputText(aForm("basePath"), '_label -> "Base URL", 'size -> 50)
            <input type="submit" name="copy" value="Copy"/>
            <input type="submit" name="move" value="Move"/>
        }
    </div>

    @if(success && action == "move") {
        <h4><span style="color: green">File was <font style="color:blue">Move'ed</font> to the @moveResult.getDst_file.getDocument_path folder</span></h4>
    }
    @if(success && action == "copy") {
        <h4><span style="color: green">File was <font style="color:blue">Copy'ed</font> to the @moveResult.getDst_file.getDocument_path folder</span></h4>
    }
    <br/>
    <script type="text/javascript" language="JavaScript">
    (function (){
    document.getElementById('GuidDiv').onclick = function (){
    document.getElementById('guidBlock').style.display = 'block';
    document.getElementById('guidField').setAttribute('required', 'required');
    document.getElementById('fileBlock').style.display = 'none';
    document.getElementById('fileField').removeAttribute('required');
    document.getElementById('urlBlock').style.display = 'none';
    document.getElementById('urlField').removeAttribute('required');
} ;
    document.getElementById('LocalDiv').onclick = function (){
    document.getElementById('fileBlock').style.display = 'block';
    document.getElementById('fileField').setAttribute('required', 'required');
    document.getElementById('guidBlock').style.display = 'none';
    document.getElementById('guidField').removeAttribute('required');
    document.getElementById('urlBlock').style.display = 'none';
    document.getElementById('urlField').removeAttribute('required');
    };
    document.getElementById('UrlDiv').onclick = function (){
    document.getElementById('urlBlock').style.display = 'block';
    document.getElementById('urlField').setAttribute('required', 'required');
    document.getElementById('guidBlock').style.display = 'none';
    document.getElementById('guidField').removeAttribute('required');
    document.getElementById('fileBlock').style.display = 'none';
    document.getElementById('fileField').removeAttribute('required');
    };
    document.getElementById('GuidDiv').onclick();
    })();
</script>
</div>

    }