@(title: String, subTitle: String, changes: String, aForm: Form[Credentials])

@import helper._

@* Register customInput as field constructor for this page (customize input field) *@
@implicitField = @{ FieldConstructor(customInput.f) }

@main(title) {

<h3 style="text-align:center;"><a href="/">@title</a> - @subTitle</h3>

<div class='samplecontent' style="padding:10px;">
   <i>This sample will show how to Get Compare Change list for document using JAVA SDK</i> <br/>
   <br />
    <a href="/docs/sample20.html">Docs for this sample</a>
    <br />
   <br/>
   <div id="requestForm" style="padding:20px; border:1px solid black;">
		<p>Enter data for request and press "Make request" button </p>
		@myForm(routes.Sample20.index(), 'method -> "POST") {
			@aForm.globalErrors.map { error =>
			  @if(error.arguments.size > 0){
				  <div>@error.message <a href="@error.arguments.get(0)" target="_blank">@error.arguments.get(1)</a></div>
			  } else {
				  <div>@error.message</div>
			  }
			}
            @inputText(aForm("client_id"), '_label -> "Client ID", 'size -> 50)
	        @inputText(aForm("private_key"), '_label -> "Private Key", 'size -> 50)
	        @inputText(aForm("server_type"), '_label -> "Base URL", 'size -> 50)
	        @inputText(aForm("resultFileId"), '_label -> "Compared file GUID", 'size -> 50, 'required -> true)
	        <input type="submit" value="Make Request" />
            <br />

           }

	</div>
@if(changes != null){
        	<div  style="padding:20px; border:1px solid black;">
		        <p> Results: </p>
		       		@Html(changes)
		    </div>
}



</div>

}