@(success: Boolean, downloadedFile: FileStream, aForm: Form[Credentials])

@@* Register customInput as field constructor for this page (customize input field) * @
@implicitField = @{
    FieldConstructor(customInput.f)
}

@main() {

    <h3 style="text-align:center;"><a href="/">GroupDocs Java SDK Samples</a> - Sample 4</h3>

    <div class='samplecontent' style="padding:10px;">
        <i>This sample will show how to use StorageApi to download file from GroupDocs using Java SDK</i> <br/>
    <br />
        <a href="@routes.Assets.at("docs/Sample04.html")">Docs for this sample</a>
    <br />
        @if(aForm != null) {
            <br/>
            <p>You entered:</p>
            <p>ClientID = @aForm.data.get("client_id")</p>
            <p>PrivateKey = @aForm.data.get("private_key")</p>
            <p>Base path = @aForm.data.get("server_type")</p>
        }
    <br/>
        <div id="requestForm" style="padding:20px; border:1px solid black;">
            <p>Enter data for request and press "Make request" button</p>
            @myForm(routes.Sample04.index(), 'method -> "POST", 'enctype -> "multipart/form-data") {
                @aForm.globalErrors.map { error =>
                    @if(error.arguments.size > 0) {
                        <div>@error.message <a href="@error.arguments.get(0)" target="_blank">@error.arguments.get(1)</a></div>
                    } else {
                        <div>@error.message</div>
                    }
                }
                @inputText(aForm("client_id"), '_label -> "Client ID", 'size -> 50)
                @inputText(aForm("private_key"), '_label -> "Private Key", 'size -> 50)
                @inputText(aForm("server_type"), '_label -> "Base URL", 'size -> 50)
                <div>
                    <div id="IDtypeChoice" class="file-choice-block">
                    <input type="radio" value="IDfileId" onclick="" id="IDfileIdRadio" name="fileData"/>
                        <label for="IDfileIdRadio" class="file-choice-label">File GUID</label>
                    <input type="radio" value="IDfileUrl" onclick="" id="IDfileUrlRadio" name="fileData"/>
                        <label for="IDfileUrlRadio" class="file-choice-label">File URL</label>
                    <input type="radio" value="IDfilePart" onclick="" id="IDfilePartRadio" name="fileData"/>
                        <label for="IDfilePartRadio" class="file-choice-label">Local file</label>
                    </div>
                    <div id="IDfileId">
                    @inputText(aForm("fileId"), '_label -> "File GUID", 'size -> 50, 'required -> true)
                    </div>
                    <div id="IDfileUrl">
                    @inputText(aForm("fileUrl"), '_label -> "File Url", 'size -> 50, 'required -> true)
                    </div>
                    <div id="IDfilePart">
                    @inputFile(aForm("filePart"), '_label -> "Select file", 'required -> true)
                    </div>
                </div>
                <input type="submit" value="Download"/>
                <br />

            }

            @if(success) {
                <span style="color: green;">
                    File was downloaded to the <span style="color: blue; text-decoration: underline;">
                    <a href="/images/ @downloadedFile.getFileName">
                        /public/images/ @downloadedFile.getFileName
                    </a>
                </span> file
                </span>
            }
        </div>
    </div>
    <script type="text/javascript" language="JavaScript">
    $(function(){
    changeType.allChk = ['IDfileId', 'IDfileUrl', 'IDfilePart'];
    $('#IDfileIdRadio, #IDfileUrlRadio, #IDfilePartRadio').click(changeType);
    $('#IDfileIdRadio').click();
} );
</script>
    }