@(success: Boolean, userInfo: com.groupdocs.sdk.model.UserInfo, aForm: Form[Credentials])

@import helper._

@* Register customInput as field constructor for this page (customize input field) *@
@implicitField = @{
    FieldConstructor(customInput.f)
}

@main() {

    <h3 style="text-align:center;"><a href="/">GroupDocs Java SDK Samples</a> - Sample 1</h3>

    <div class='samplecontent' style="padding:10px;">
        <i>This sample will show how to use signer to be autorized at GroupDocs and to get GroupDocs user infromation using Java SDK</i> <br/>
    <br />
        <a href="@routes.Assets.at("docs/Sample01.html")">Docs for this sample</a>
    <br />
    <br/>
        @if(success) {
            <br/>
            <p>You entered:</p>
            <p>ClientID = @aForm.data.get("client_id")</p>
            <p>PrivateKey = @aForm.data.get("private_key")</p>
            <p>Base path = @aForm.data.get("server_type")</p>
            <div style="padding:20px; border:1px solid black;">
                <p>Results:</p>
                <table style="border:1px double black;">
                    <tr>
                        <th>Field</th> <th>Value</th>
                    </tr>
                    <tr>
                        <td>First Name</td> <td>@userInfo.getFirstname</td>
                    </tr>
                    <tr>
                        <td>Last Name</td> <td>@userInfo.getLastname</td>
                    </tr>
                    <tr>
                        <td>Nick Name</td> <td>@userInfo.getNickname</td>
                    </tr>
                    <tr>
                        <td>Primary Email</td> <td>@userInfo.getPrimary_email</td>
                    </tr>
                </table>
            </div>
        }

    <br/>
        <div id="requestForm" style="padding:20px; border:1px solid black;">
            <p>Enter data for request and press "Make request" button</p>
            @myForm(routes.Sample01.index(), 'method -> "post", 'enctype -> "multipart/form-data") {
                @if(aForm.hasGlobalErrors) {
                    <p>
                        Error:
                        @for(validationError <- aForm.globalErrors) {
                            <span style="display: block; color: red; font-size: 12px;">@validationError.message</span>
                        }
                    </p>
                }
                @inputText(aForm("client_id"), '_label -> "Client ID", 'size -> 50)
                @inputText(aForm("private_key"), '_label -> "Private Key", 'size -> 50)
                @inputText(aForm("server_type"), '_label -> "Base URL", 'size -> 50)
                <input type="submit" value="Make Request">
            }
        </div>
    </div>


}