@(success: Boolean, guid: String, aForm: Form[Credentials])

@import helper._

@* Register customInput as field constructor for this page (customize input field) *@
@implicitField = @{
    FieldConstructor(customInput.f)
}

@main() {

    <h3 style="text-align:center;"><a href="/">GroupDocs Java SDK Samples</a> <br/>
        <div id="title">Sample 18 - How to convert Doc to Docx, Docx to Doc, Docx to PDF and PPT to PDF</div>
    </h3>

    <div class='samplecontent' style="padding:10px;">
        <i>How to convert Doc to Docx, Docx to Doc, Docx to PDF and PPT to PDF</i> <br/>
    <br />
        <a href="@routes.Assets.at("docs/Sample18.html")">Docs for this sample</a>
    <br />
    <br/>
        <p style="color: green;">You entered:</p>
        <p>Client Id = @aForm.data.get("clientId")</p>
        <p>Private Key = @aForm.data.get("privateKey")</p>
        <p>File Id = @aForm.data.get("fileId")</p>
        <p>Convert type = @aForm.data.get("convertType")</p>
        <div id="requestForm" style="padding:20px; border:1px solid black;">
            <p>Enter data for request and press "Make request" button</p>
            @myForm(routes.Sample18.index(), 'method -> "POST", 'enctype -> "multipart/form-data") {
                @if(aForm.hasGlobalErrors) {
                    <p>
                        Error:
                        @for(validationError <- aForm.globalErrors) {
                            <span style="display: block; color: red; font-size: 12px;">@validationError.message</span>
                        }
                    </p>
                }

                @inputText(aForm("clientId"), '_label -> "Client ID", 'size -> 50)
                @inputText(aForm("privateKey"), '_label -> "Private Key", 'size -> 50)
                @inputText(aForm("basePath"), '_label -> "Base URL", 'size -> 50)
                <div>
                    <div id="IDtypeChoice" class="file-choice-block">
                    <input type="radio" value="guid" onclick="" id="IDfileIdRadio" name="sourse"/>
                        <label for="IDfileIdRadio" class="file-choice-label">File GUID</label>
                    <input type="radio" value="url" onclick="" id="IDfileUrlRadio" name="sourse"/>
                        <label for="IDfileUrlRadio" class="file-choice-label">File URL</label>
                    <input type="radio" value="local" onclick="" id="IDfilePartRadio" name="sourse"/>
                        <label for="IDfilePartRadio" class="file-choice-label">Local file</label>
                    </div>
                    <div id="guid">
                    @inputText(aForm("fileId"), '_label -> "File GUID", 'size -> 50, 'required -> true)
                    </div>
                    <div id="url">
                    @inputText(aForm("url"), '_label -> "File Url", 'size -> 50, 'required -> true)
                    </div>
                    <div id="local">
                    @inputFile(aForm("file"), '_label -> "Select file", 'required -> true)
                    </div>
                </div>
                @inputText(aForm("callbackUrl"), '_label -> "Callback URL", 'size -> 50)
                <div style="color: #808080; font-size: 10px">
                    For test Callback you can use this URL: http://groupdocs-java-samples.herokuapp.com/callbacks/convert_callback
                </div>
                <label for='convertType'>Convert Type</label>
                <select name="convertType" id="convertType">
                    <option value="doc">Doc</option>
                    <option value="pdf">PDF</option>
                    <option value="docx">Docx</option>
                    <option value="ppt">PPT</option>
                </select>
                <input type="submit" value="Make Request">
            }
            <iframe id="downloadframe" style="display:none"></iframe>
        </div>
        @if(success) {
            <div id="result" style="padding:20px; border:1px solid black;">
                <p>Results:</p>
                <p> <span style="color: red"></span>
                <iframe src="https://apps.groupdocs.com/document-viewer/Embed/ @guid" frameborder="0" width="720" height="600"></iframe>
            </div>
        }
    </div>
    <script type="text/javascript" language="JavaScript">
    $(function(){
    changeType.allChk = ['guid', 'url', 'local'];
    $('#IDfileIdRadio, #IDfileUrlRadio, #IDfilePartRadio').click(changeType);
    $('#IDfileIdRadio').click();
} );
</script>
    }