@(title: String, subTitle: String, Result: List[UserInfo], aForm: Form[Credentials])

@import helper._

@main(title) {

<h3 style="text-align:center;"><a href="/">@title</a> - @subTitle</h3>

<div class='samplecontent' style="padding:10px;">
   Sample is under development. <i>This sample will show how to check the list of shares for a folder using Java SDK</i> <br/>
   
   <br/>
  		<p><font color="green">You entered: </font></p>
		<p>Client Id = @aForm.data.get("client_id")</p>
		<p>Private Key = @aForm.data.get("private_key")</p>
		<p>Path = @aForm.data.get("srcPath") </p>
		@if(Result != null){
			@for(name <- Result){
				<p>List of shares for a folder = @name.getNickname</p>
			}
		}
   <div id="requestForm" style="padding:20px; border:1px solid black;">
       <p>Enter data for request and press "Make request" button </p>
       	
		@myForm(routes.Sample14.index(), 'method -> "POST") {
			@aForm.globalErrors.map { error =>
			  @if(error.arguments.size > 0){
				  <div>@error.message <a href="@error.arguments.get(0)" target="_blank">@error.arguments.get(1)</a></div>
			  } else {
				  <div>@error.message</div>
			  }
			}
            @inputText(aForm("client_id"), '_label -> "Client ID", 'size -> 100)
	        @inputText(aForm("private_key"), '_label -> "Private Key", 'size -> 100) 
	        @inputText(aForm("srcPath"), '_label -> "Source Path", 'size -> 100, 'placeholder -> "myFolder")
	        <input type="submit" value="Make Request">
        }
   </div>

<h5 style="text-align:left;">Choose another one sample:</h5>
    <div style="padding:10px;">
      <ul>
        <li> <a href="/sample1">Sample1 - How to login to GroupDocs using the API</li>
        <li> <a href="/sample2">Sample2 - How to list files within GroupDocs Storage using the Storage API</li>
        <li> <a href="/sample3">Sample3 - How to upload a file to GroupDocs using the Storage API</li>
        <li> <a href="/sample4">Sample4 - How to download a file from GroupDocs Storage using the Storage API</li>
        <li> <a href="/sample5">Sample5 - How to copy / move a file using the GroupDocs Storage API</li>
        <li> <a href="/sample6">Sample6 - How to add a Signature to a document in GroupDocs Signature</li>
        <li> <a href="/sample7">Sample7 - How to create a list of thumbnails for a document</li>
        <li> <a href="/sample8">Sample8 - How to return a URL representing a single page of a Document</li>
        <li> <a href="/sample9">Sample9 - How to generate an embedded Viewer URL for a Document</li>
        <li> <a href="/sample10">Sample10 - How to share a document to other users</li>
        <li> <a href="/sample11">Sample11 - How programmatically create and post an annotation into document. How to delete the annotation</li>
	    <li> <a href="/sample12">Sample12 - How to list all annotations from document</li>
	    <li> <a href="/sample13">Sample13 - How to add collaborator to doc with annotations</li>
	    <li> <a href="/sample14">Sample14 - How to check the list of shares for a folder</li>
	    <li> <a href="/sample15">Sample15 - How to check the number of document's views</li>
	    <li> <a href="/sample16">Sample16 - How to insert Assembly questionary into webpage</li>
	    <li> <a href="/sample17">Sample17 - How to upload a file into the storage and compress it into zip archive</li>
	    
      </ul>
    </div>

</div>

}