@(success: Boolean, filesList: List[com.groupdocs.sdk.model.FileSystemDocument], aForm: Form[Credentials])

@import helper._

@* Register customInput as field constructor for this page (customize input field) *@
@implicitField = @{
    FieldConstructor(customInput.f)
}

@main() {

    <h3 style="text-align:center;"><a href="/">GroupDocs Java SDK Samples</a> - Sample 2</h3>

    <div class='samplecontent' style="padding:10px;">
    <i>This sample will show how to use StorageApi to list user files using Java SDK</i> <br/>
    <br />
    <a href="@routes.Assets.at("docs/Sample02.html")">Docs for this sample</a>
    <br />
    @if(aForm != null) {
        <br/>
        <p>You entered:</p>
        <p>ClientID = @aForm.data.get("client_id")</p>
        <p>PrivateKey = @aForm.data.get("private_key")</p>
        <p>Base path = @aForm.data.get("server_type")</p>
    }
    <br/>
    <div id="requestForm" style="padding:20px; border:1px solid black;">
        <p>Enter data for request and press "Make request" button</p>
        @myForm(routes.Sample02.index(), 'method -> "POST") {
            @aForm.globalErrors.map { error =>
                @if(error.arguments.size > 0) {
                    <div>@error.message <a href="@error.arguments.get(0)" target="_blank">@error.arguments.get(1)</a></div>
                } else {
                    <div>@error.message</div>
                }
            }
            @inputText(aForm("client_id"), '_label -> "Client ID", 'size -> 50)
            @inputText(aForm("private_key"), '_label -> "Private Key", 'size -> 50)
            @inputText(aForm("server_type"), '_label -> "Base URL", 'size -> 50)
            <input type="submit" value="Make Request">
        }
    </div>

    @if(success) {
        <br/>


        <div style="padding:20px; border:1px solid black;">
            <p>Results:</p>
            <table style="border:1px double black;">
                <tbody>
                    <tr>
                        <th>Field</th>
                        <th>Value</th>
                    </tr>
                    <tr>
                        <td>Files list</td>
                        <td>
                        @for(file <- filesList) {
                            @file.getName <br />
                            <input type="hidden" name="guid[]" value="@file.getGuid"/>
                        }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }


}