@(title: String, subTitle: String, gdFile: FileStream, aForm: Form[Credentials])

@import helper._

@* Register customInput as field constructor for this page (customize input field) *@
@implicitField = @{ FieldConstructor(customInput.f) }

@main(title) {

<h3 style="text-align:center;"><a href="/">@title</a> - @subTitle</h3>

<div class='samplecontent' style="padding:10px;">
   Sample is under development. <i>This sample will show how to use StorageApi to download file from GroupDocs using Java SDK</i> <br/>
   <br />
    <a href="/docs/sample04.html">Docs for this sample</a>
    <br />
   <br/>
   <div id="requestForm" style="padding:20px; border:1px solid black;">
		<p>Enter data for request and press "Make request" button </p>
		@myForm(routes.Sample04.index(), 'method -> "POST", 'enctype -> "multipart/form-data") {
			@aForm.globalErrors.map { error =>
			  @if(error.arguments.size > 0){
				  <div>@error.message <a href="@error.arguments.get(0)" target="_blank">@error.arguments.get(1)</a></div>
			  } else {
				  <div>@error.message</div>
			  }
			}
            @inputText(aForm("client_id"), '_label -> "Client ID", 'size -> 50)
	        @inputText(aForm("private_key"), '_label -> "Private Key", 'size -> 50)
	        @inputText(aForm("baseurl"), '_label -> "Base URL", 'size -> 50)
            <div>
                <div id="IDtypeChoice" class="file-choice-block">
                    <input type="radio" value="IDfileId" onclick="" id="IDfileIdRadio" name="fileData" />
                    <label for="IDfileIdRadio" class="file-choice-label">File GUID</label>
                    <input type="radio" value="IDfileUrl" onclick="" id="IDfileUrlRadio" name="fileData" />
                    <label for="IDfileUrlRadio" class="file-choice-label">File URL</label>
                    <input type="radio" value="IDfilePart" onclick="" id="IDfilePartRadio" name="fileData" />
                    <label for="IDfilePartRadio" class="file-choice-label">Local file</label>
                </div>
                <div id="IDfileId">
                    @inputText(aForm("fileId"), '_label -> "File GUID", 'size -> 50, 'required -> true)
                </div>
                <div id="IDfileUrl">
                    @inputText(aForm("fileUrl"), '_label -> "File Url", 'size -> 50, 'required -> true)
                </div>
                <div id="IDfilePart">
                    @inputFile(aForm("filePart"), '_label -> "Select file", 'required -> true)
                </div>
            </div>
	        <input type="submit" value="Make Request">
            <br />
            
           }
           
           @if(gdFile != null){
            <span style="color: green;">File was downloaded to the <span style="color: blue;"> @gdFile.getFileName </span> file</span>
           }
   </div>



</div>

}