@(success: Boolean, documentViewInfo: List[com.groupdocs.sdk.model.DocumentViewInfo], aForm: Form[Credentials])

@import helper._

@* Register customInput as field constructor for this page (customize input field) *@
@implicitField = @{
    FieldConstructor(customInput.f)
}

@main() {

    <h3 style="text-align:center;"><a href="/">GroupDocs Java SDK Samples</a> <br/>
        <div id="title">Sample 15 - How to check the number of document's views</div>
    </h3>

    <div class='samplecontent' style="padding:10px;">
        <i>This sample will show how to check the number of document's views using Java SDK</i> <br/>
    <br />
        <a href="@routes.Assets.at("docs/Sample15.html")">Docs for this sample</a>
    <br />
    <br/>
        <p style="color: green;">You entered:</p>
        <p>Client Id = @aForm.data.get("clientId")</p>
        <p>Private Key = @aForm.data.get("privateKey")</p>

        <div id="requestForm" style="padding:20px; border:1px solid black;">
            <p>Enter data for request and press "Make request" button</p>

            @myForm(routes.Sample15.index(), 'method -> "POST") {
                @if(aForm.hasGlobalErrors) {
                    <p>
                        Error:
                        @for(validationError <- aForm.globalErrors) {
                            <span style="display: block; color: red; font-size: 12px;">@validationError.message</span>
                        }
                    </p>
                }
                @inputText(aForm("clientId"), '_label -> "Client ID", 'size -> 50)
                @inputText(aForm("privateKey"), '_label -> "Private Key", 'size -> 50)
                @inputText(aForm("basePath"), '_label -> "Base URL", 'size -> 50)

                <input type="submit" value="Make Request">
            }
        </div>
        @if(success) {
            <div style="padding:20px; border:1px solid black;">
                <p>Results:</p>
                <p>Total document's views: <span style="color: green;">@documentViewInfo.size()</span></p>
            </div>
        }
    </div>
}