@(title: String, subTitle: String, data: HashMap[String, String], aForm: Form[Credentials])

@import helper._

@* Register customInput as field constructor for this page (customize input field) *@
@implicitField = @{ FieldConstructor(customInput.f) }

@main(title) {

<h3 style="text-align:center;"><a href="/">@title</a> - @subTitle</h3>

<div class='samplecontent' style="padding:10px;">
   <i>This sample will show how to insert Assembly questionary into webpage using Java SDK</i> <br/>
   <br />
    <a href="@routes.Assets.at("docs/Sample16.html")">Docs for this sample</a>
    <br />
   <br/>
   @if(data != null){
	    <p><span  style="color: green">You entered: </span></p>
	   	<p>File Id = @data.get("guid") </p>
   	}
   <div id="requestForm" style="padding:20px; border:1px solid black;">
		<p>Enter data for request and press "Make request" button </p>
		@myForm(routes.Sample16.index(), 'method -> "POST", 'enctype -> "multipart/form-data") {
	        @aForm.globalErrors.map { error =>
			  @if(error.arguments.size > 0){
				  <div>@error.message <a href="@error.arguments.get(0)" target="_blank">@error.arguments.get(1)</a></div>
			  } else {
				  <div>@error.message</div>
			  }
			}

            @inputText(aForm("client_id"), '_label -> "Client ID", 'size -> 50)
            @inputText(aForm("private_key"), '_label -> "Private Key", 'size -> 50)
            @inputText(aForm("server_type"), '_label -> "Base URL", 'size -> 50)
            <div>
                <div id="IDtypeChoice" class="file-choice-block">
                <input type="radio" value="guid" onclick="" id="IDfileIdRadio" name="sourse" />
                    <label for="IDfileIdRadio" class="file-choice-label">File GUID</label>
                <input type="radio" value="url" onclick="" id="IDfileUrlRadio" name="sourse" />
                    <label for="IDfileUrlRadio" class="file-choice-label">File URL</label>
                <input type="radio" value="local" onclick="" id="IDfilePartRadio" name="sourse" />
                    <label for="IDfilePartRadio" class="file-choice-label">Local file</label>
                </div>
                <div id="guid">
                @inputText(aForm("fileId"), '_label -> "File GUID", 'size -> 50, 'required -> true)
                </div>
                <div id="url">
                @inputText(aForm("url"), '_label -> "File Url", 'size -> 50, 'required -> true)
                </div>
                <div id="local">
                @inputFile(aForm("local"), '_label -> "Select file", 'required -> true)
                </div>
            </div>
	      
	        <input type="submit" value="Make Request">
        }
   </div>
   <br/> 
@if(data.get("guid") != null){
   <div  style="padding:20px; border:1px solid black;">
       <p> Results: </p>
       <iframe src='https://apps.groupdocs.com/assembly2/questionnaire-assembly/@data.get("guid")' width='600' height='650''></iframe>
   </div>
}

</div>
    <script type="text/javascript" language="JavaScript">
        $(function(){
        changeType.allChk = ['guid', 'url', 'local'];
        $('#IDfileIdRadio, #IDfileUrlRadio, #IDfilePartRadio').click(changeType);
        $('#IDfileIdRadio').click();
    });
    </script>
}