@(title: String, subTitle: String, gdFiles: List[FileSystemDocument], aForm: Form[Credentials])

@import helper._

@main(title) {

<h3 style="text-align:center;"><a href="/">@title</a> - @subTitle</h3>

<div class='samplecontent' style="padding:10px;">
   Sample is under development. <i>This sample will show how to use StorageApi to list user files using Java SDK</i> <br/>
   <br />
    <a href="/docs/sample02.html">Docs for this sample</a>
    <br />
   <br/>
   <div id="requestForm" style="padding:20px; border:1px solid black;">
		<p>Enter data for request and press "Make request" button </p>
		@myForm(routes.Sample02.index(), 'method -> "POST") {
			@aForm.globalErrors.map { error =>
			  @if(error.arguments.size > 0){
				  <div>@error.message <a href="@error.arguments.get(0)" target="_blank">@error.arguments.get(1)</a></div>
			  } else {
				  <div>@error.message</div>
			  }
			}
            @inputText(aForm("client_id"), '_label -> "Client ID", 'size -> 100)
	        @inputText(aForm("private_key"), '_label -> "Private Key", 'size -> 100) 
	        <input type="submit" value="Make Request">
        }
   </div>

@if(gdFiles != null){
   <br/> 
   <div  style="padding:20px; border:1px solid black;">
        <p> Results: </p>
        <table style="border:1px double black;">
          <tr>
              <th>File Name</th><th>File Guid</th>
          </tr>
@for(file <- gdFiles){
          <tr>
               <td>@file.getName</td><td>@file.getGuid</td>
          </tr>
}
        </table>
   </div>
}


}