@(title: String, subTitle: String, data: CreateAnnotationResult, aForm: Form[Credentials])

@import helper._

@main(title) {

<h3 style="text-align:center;"><a href="/">@title</a> - @subTitle</h3>

<div class='samplecontent' style="padding:10px;">
   Sample is under development. <i>This sample will show how to create and post an annotation into document using Java SDK</i> <br/>
   <br />
    <a href="/docs/sample11.html">Docs for this sample</a>
    <br />
   <br/>
		<p><font color="green">You entered: </font></p>
		<p>Client Id = @aForm.data.get("client_id")</p>
		<p>Private Key = @aForm.data.get("private_key")</p>
		@if(data != null){
		<p>File Id = @data.getDocumentGuid </p>
		<p>Annotation info: </p>
		<p>Annotation Id = @data.getAnnotationGuid</p>
		<p>Annotation type = @aForm.data.get("annotation_type")</p>
		<p>Annotation text = @aForm.data.get("text")</p>
		}
   <div id="requestForm" style="padding:20px; border:1px solid black;">
		<p>Enter data for request and press "Make request" button </p>
		@myForm(routes.Sample11.index(), 'method -> "POST") {
	        @aForm.globalErrors.map { error =>
			  @if(error.arguments.size > 0){
				  <div>@error.message <a href="@error.arguments.get(0)" target="_blank">@error.arguments.get(1)</a></div>
			  } else {
				  <div><font color="red">@error.message</font></div>
			  }
			}
			<input type="hidden" name="annotationId" value="annotationId">
            @inputText(aForm("client_id"), '_label -> "Client ID", 'size -> 100)
	        @inputText(aForm("private_key"), '_label -> "Private Key", 'size -> 100) 
	        @inputText(aForm("fileId"), '_label -> "File GUID", 'size -> 100)
	        <br />
	        <label for='annotation_type'>Annotation Type</label>
                        <select name="annotation_type" id="annotation_type">
                            <option value="text" onclick="show_hide('text')";>Text</option>
                            <option value="area" onclick="show_hide('area')";>Area</option>
                            <option selected value="point" onclick="show_hide('point')";>Point</option>
                        </select>
                        <br />
           <fieldset style="border: thin solid #333; padding: 1em; margin-bottom: 5px;">
                        <legend>Parameters (all are required)</legend>
                        <div>
                        	@inputText(aForm("box_x"), '_label -> "Box X", 'minlength -> 0)
                        </div>
                        <div>
                            @inputText(aForm("box_y"), '_label -> "Box Y", 'minlength -> 0)
                        </div>

                        <div id="box-params" style="display:none;">
                            <div>
                            	@inputText(aForm("box_width"), '_label -> "Box Width", 'placeholder -> "double")
                            </div>
                            <div>
                            	@inputText(aForm("box_height"), '_label -> "Box Height", 'placeholder -> "double")
                            </div>
                        </div>

                        <div id="annotation-position" style="display:none;">
                            <div>
                            	@inputText(aForm("annotationPosition.x"), '_label -> "Annotation Position X", 'placeholder -> "double")
                            </div>
                            <div>
                                @inputText(aForm("annotationPosition.y"), '_label -> "Annotation Position Y", 'placeholder -> "double")
                            </div>
                        </div>


                        <div id="text-params" style="display:none;">
                            <div>
                            	@inputText(aForm("range.position"), '_label -> "Range Position", 'placeholder -> "double")
                            </div>
                            <div>
                            	@inputText(aForm("range.length"), '_label -> "Range Length", 'placeholder -> "double")
                            </div>
                        </div>

                        <div>
                        	@inputText(aForm("text"), '_label -> "Text", 'placeholder -> "string")
                        </div>
                        </fieldset>
	        <input type="submit" value="Make Request">
        }
   </div>

@if(data != null){
   <br/> 
   <div  style="padding:20px; border:1px solid black;">
      <iframe src="https://apps.groupdocs.com//document-annotation2/embed/@data.getDocumentGuid ?frameborder="0" width="720" height="600""></iframe>
   </div>
}

<h5 style="text-align:left;">Choose another one sample:</h5>
    <div style="padding:10px;">
      <ul>
        <li> <a href="sample01">Sample01 - How to login to GroupDocs using the API</a></li>
        <li> <a href="sample02">Sample02 - How to list files within GroupDocs Storage using the Storage API</a></li>
        <li> <a href="sample03">Sample03 - How to upload a file to GroupDocs using the Storage API</a></li>
        <li> <a href="sample04">Sample04 - How to download a file from GroupDocs Storage using the Storage API</a></li>
        <li> <a href="sample05">Sample05 - How to copy / move a file using the GroupDocs Storage API</a></li>
        <li> <a href="sample06">Sample06 - How to add a Signature to a document in GroupDocs Signature</a></li>
        <li> <a href="sample07">Sample07 - How to create a list of thumbnails for a document</a></li>
        <li> <a href="sample08">Sample08 - How to return a URL representing a single page of a Document</a></li>
        <li> <a href="sample09">Sample09 - How to generate an embedded Viewer URL for a Document</a></li>
        <li> <a href="sample10">Sample10 - How to share a document to other users</a></li>
        <li> <a href="/sample11">Sample11 - How programmatically create and post an annotation into document. How to delete the annotation</a></li>
        <li> <a href="/sample12">Sample12 - How to list all annotations from document</a></li>
        <li> <a href="/sample13">Sample13 - How to add collaborator to doc with annotations</a></li>
        <li> <a href="/sample14">Sample14 - How to check the list of shares for a folder</a></li>
        <li> <a href="/sample15">Sample15 - How to check the number of document's views</a></li>
        <li> <a href="/sample16">Sample16 - How to insert Assembly questionary into webpage</a></li>
        <li> <a href="/sample17">Sample17 - How to upload a file into the storage and compress it into zip archive</a></li>
        <li> <a href="/sample18">Sample18 - How to convert Doc to Docx, Docx to Doc, Docx to PDF and PPT to PDF</a></li>
        <li> <a href="/sample19">Sample19 - How to Compare documents using Java SDK</a></li>
        <li> <a href="/sample20">Sample20 - How to Get Compare Change list for document using Java SDK</a></li>
        <li> <a href="/sample21">Sample21 - How to Create and Upload Envelop to GroupDocs account using Java SDK</a></li>
        <li> <a href="/sample22">Sample22 - This sample will show how create or update user and add him to collaborators using Java SDK</a></li>
        <li> <a href="/sample23">Sample23 - How to View Document pages as images using Java SDK</a></li>
      </ul>
    </div>

</div>

<script type="text/javascript">
	function show_hide(_element_id) {
		 
		  if (_element_id == "point") {
		 	var element1 = document.getElementById("box-params");
		 	var element2 = document.getElementById("annotation-position");
		 	var element3 = document.getElementById("text-params");
		 	element1.style.display = "none";
		 	element2.style.display = "none";
		 	element3.style.display = "none";
		 }
		 
		 if (_element_id == "text") {
		 	var element1 = document.getElementById("box-params");
		 	var element2 = document.getElementById("annotation-position");
		 	var element3 = document.getElementById("text-params");
		 	element1.style.display = "inline";
		 	element2.style.display = "inline";
		 	element3.style.display = "inline";
		 }
		 
		 if (_element_id == "area") {
		 	var element1 = document.getElementById("box-params");
		 	var element2 = document.getElementById("annotation-position");
		 	var element3 = document.getElementById("text-params");
		 	element1.style.display = "inline";
		 	element2.style.display = "none";
		 	element3.style.display = "none";
		 }
		 
	}
</script>

}