@(success: Boolean, data: com.groupdocs.sdk.model.CreateAnnotationResult, aForm: Form[Credentials])

@import helper._

@* Register customInput as field constructor for this page (customize input field) *@
@implicitField = @{
    FieldConstructor(customInput.f)
}

@main() {

    <h3 style="text-align:center;"><a href="/">GroupDocs Java SDK Samples</a> <br/>
        <div id="title">Sample 11 - How to create and post an annotation into document</div>
    </h3>

    <div class='samplecontent' style="padding:10px;">
        <i>This sample will show how to create and post an annotation into document using Java SDK</i> <br/>
    <br />
        <a href="@routes.Assets.at("docs/Sample11.html")">Docs for this sample</a>
    <br />
    <br/>
        <p style="color: green;">You entered:</p>
        <p>Client Id = @aForm.data.get("clientId")</p>
        <p>Private Key = @aForm.data.get("privateKey")</p>
        @if(data != null) {
            <p>File Id = @data.getDocumentGuid</p>
            <p>Annotation info:</p>
            <p>Annotation Id = @data.getAnnotationGuid</p>
            <p>Annotation type = @aForm.data.get("annotationType")</p>
            <p>Annotation text = @aForm.data.get("text")</p>
        }
        <div id="requestForm" style="padding:20px; border:1px solid black;">
            <p>Enter data for request and press "Make request" button</p>
            @myForm(routes.Sample11.index(), 'method -> "POST", 'enctype -> "multipart/form-data") {
                @if(aForm.hasGlobalErrors) {
                    <p>
                        Error:
                        @for(validationError <- aForm.globalErrors) {
                            <span style="display: block; color: red; font-size: 12px;">@validationError.message</span>
                        }
                    </p>
                }
                <input type="hidden" name="annotationId" value="annotationId">
                @inputText(aForm("clientId"), '_label -> "Client ID", 'size -> 50)
                @inputText(aForm("privateKey"), '_label -> "Private Key", 'size -> 50)
                @inputText(aForm("basePath"), '_label -> "Base URL", 'size -> 50)
                <div>
                    <div id="IDtypeChoice" class="file-choice-block">
                    <input type="radio" value="guid" onclick="" id="IDfileIdRadio" name="sourse"/>
                        <label for="IDfileIdRadio" class="file-choice-label">File GUID</label>
                    <input type="radio" value="url" onclick="" id="IDfileUrlRadio" name="sourse"/>
                        <label for="IDfileUrlRadio" class="file-choice-label">File URL</label>
                    <input type="radio" value="local" onclick="" id="IDfilePartRadio" name="sourse"/>
                        <label for="IDfilePartRadio" class="file-choice-label">Local file</label>
                    </div>
                    <div id="guid">
                    @inputText(aForm("fileId"), '_label -> "File GUID", 'size -> 50, 'required -> true)
                    </div>
                    <div id="url">
                    @inputText(aForm("fileUrl"), '_label -> "File Url", 'size -> 50, 'required -> true)
                    </div>
                    <div id="local">
                    @inputFile(aForm("filePart"), '_label -> "Select file", 'required -> true)
                    </div>
                </div>
                <br />
                <label for='annotationType'>Annotation Type</label>
                <select name="annotationType" id="annotationType" onchange="show_hide(this.value)">
                    <option value="text">Text</option>
                    <option value="area">Area</option>
                    <option value="point" selected>Point</option>
                </select>
                <br />
                <fieldset style="border: thin solid #333; padding: 1em; margin-bottom: 5px;">
                    <legend>Parameters (all are required)</legend>
                    <div>
                    @inputText(aForm("boxX"), '_label -> "Box X", 'minlength -> 0)
                    </div>
                    <div>
                    @inputText(aForm("boxY"), '_label -> "Box Y", 'minlength -> 0)
                    </div>

                    <div id="boxParams" style="display:none;">
                        <div>
                        @inputText(aForm("boxWidth"), '_label -> "Box Width", 'placeholder -> "double")
                        </div>
                        <div>
                        @inputText(aForm("boxHeight"), '_label -> "Box Height", 'placeholder -> "double")
                        </div>
                    </div>

                    <div id="annotationPosition" style="display:none;">
                        <div>
                        @inputText(aForm("annotationPositionX"), '_label -> "Annotation Position X", 'placeholder -> "double")
                        </div>
                        <div>
                        @inputText(aForm("annotationPositionY"), '_label -> "Annotation Position Y", 'placeholder -> "double")
                        </div>
                    </div>


                    <div id="textParams" style="display:none;">
                        <div>
                        @inputText(aForm("rangePosition"), '_label -> "Range Position", 'placeholder -> "double")
                        </div>
                        <div>
                        @inputText(aForm("rangeLength"), '_label -> "Range Length", 'placeholder -> "double")
                        </div>
                    </div>

                    <div>
                    @inputText(aForm("text"), '_label -> "Text", 'placeholder -> "string")
                    </div>
                </fieldset>
                <input type="submit" value="Make Request">
            }
        </div>

        @if(success) {
            <br/>
            <div style="padding:20px; border:1px solid black;">
                <iframe src="https://apps.groupdocs.com//document-annotation2/embed/ @data.getDocumentGuid" frameborder="0" width="720" height="600"></iframe>
            </div>
        }
    </div>
    <script type="text/javascript" language="JavaScript">
    $(function(){
    changeType.allChk = ['guid', 'url', 'local'];
    $('#IDfileIdRadio, #IDfileUrlRadio, #IDfilePartRadio').click(changeType);
    $('#IDfileIdRadio').click();
} );
</script>
<script type="text/javascript">
    function show_hide(_element_id) {
    if (_element_id == "point") {
    var element1 = document.getElementById("boxParams");
    var element2 = document.getElementById("annotationPosition");
    var element3 = document.getElementById("textParams");
    element1.style.display = "none";
    element2.style.display = "none";
    element3.style.display = "none";
    }
    if (_element_id == "text") {
    var element1 = document.getElementById("boxParams");
    var element2 = document.getElementById("annotationPosition");
    var element3 = document.getElementById("textParams");
    element1.style.display = "inline";
    element2.style.display = "inline";
    element3.style.display = "inline";
    }
    if (_element_id == "area") {
    var element1 = document.getElementById("boxParams");
    var element2 = document.getElementById("annotationPosition");
    var element3 = document.getElementById("textParams");
    element1.style.display = "inline";
    element2.style.display = "none";
    element3.style.display = "none";
    }
    }
</script>

    }