@(success: Boolean, url: String, aForm: Form[Credentials])

@import helper._

@* Register customInput as field constructor for this page (customize input field) *@
@implicitField = @{
    FieldConstructor(customInput.f)
}

@main() {
    <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
    <h3 style="text-align:center;"><a href="/">GroupDocs Java SDK Samples</a> - Sample 29</h3>

    <div class='samplecontent' style="padding:10px;">
        <i>This sample will show how to use Filepicker.io to upload document and get it's URL using Java SDK</i> <br/>
        <br />
        <a href="@routes.Assets.at("docs/Sample29.html")">Docs for this sample</a>
        <br />
        <br />
        <div id="requestForm" style="padding:20px; border:1px solid black;">
            <p>Click "Pick file" to select file which will be uploaded and shown in iframe</p>
            @myForm(routes.Sample29.index(), 'name -> "gdform", 'method -> "POST", 'enctype -> "multipart/form-data") {
                @if(aForm.hasGlobalErrors) {
                    <p>
                        Error:
                        @for(validationError <- aForm.globalErrors) {
                            <span style="display: block; color: red; font-size: 12px;">@validationError.message</span>
                        }
                    </p>
                }
                @inputText(aForm("clientId"), '_label -> "Client ID", 'size -> 50)
                <span style="display: none">
                    @inputText(aForm("privateKey"), '_label -> "Client ID", 'size -> 50, 'value -> "display: none")
                </span>
                @inputText(aForm("basePath"), '_label -> "Base URL", 'size -> 50)
                <input id="gdButton" type='filepicker' data-fp-store-access="public" data-fp-apikey="AjhtkJk6rRLWQxanzZAFVz" value='Upload file' data-fp-store-path="files/" onchange="upload(event.fpfile.url);" style="margin-left: 152px; width: 327px;" />
            }
            <span id="resultsStatus" style="color:red;display:none;"> (Please wait for ajax response) </span>
        </div>
        <br/>
        <div id="iframeDiv" style="padding:20px; border:1px solid black; display: none;">
            <iframe id="iframe" frameborder="0" width="800" height="650" src=""></iframe>
        </div>
    </div>
    <script type="text/javascript">
        function upload(url) {
            var form = document.forms.gdform;
            var preLoad = document.getElementById("resultsStatus");
            preLoad.style.display = "block";
            document.getElementById("gdButton").style.display = "none";
            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange= function() {

                if (xhttp.readyState==4 && xhttp.status==200){
                    var result = eval( '('+xhttp.responseText+')' );
                    iframe = result.iframe;
                    error = result['error'];

                    if (iframe != null) {
                        var button = document.getElementById("gdButton").style.display = "block";
                        var preLoad = document.getElementById("resultsStatus");
                        preLoad.style.display = "none";
                        var iframeDiv = document.getElementById("iframeDiv");
                        var iframeShow = document.getElementById("iframe");
                        iframeShow.setAttribute("src", iframe);
                        iframeDiv.style.display = "block";
                    } else if (error != null) {
                        var message = '<span style="color:red;>' + error + '</span>';
                        iframe.style.display = "block";
                    }

                }
            }
            xhttp.open('POST','/sample29',true);
            xhttp.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
            var str= 'url=' + url + '&basePath=' + document.forms.gdform.basePath.value + '&clientId=' + document.forms.gdform.clientId.value;
            xhttp.send(str);
        }
    </script>
}