@(success: Boolean, url: String, aForm: Form[Credentials])

@import helper._

@* Register customInput as field constructor for this page (customize input field) *@
@implicitField = @{
    FieldConstructor(customInput.f)
}

@main() {

    <h3 style="text-align:center;"><a href="/">GroupDocs Java SDK Samples</a> <br/>
        <div id="title">Sample 28 - How to delete all annotations from document</div>
    </h3>

<div class='samplecontent' style="padding:10px;">
        <i>This sample will show how to delete all annotations from document using Java SDK</i> <br/>
    <br />
        <a href="@routes.Assets.at("docs/Sample28.html")">Docs for this sample</a>
    <br />
    <br />
        <div id="requestForm" style="padding:20px; border:1px solid black;">
            <p>Enter data for request and press "Delete All Annotations" button</p>
            @myForm(routes.Sample28.index(), 'method -> "POST", 'enctype -> "multipart/form-data") {
                @if(aForm.hasGlobalErrors) {
                    <p>
                        Error:
                        @for(validationError <- aForm.globalErrors) {
                            <span style="display: block; color: red; font-size: 12px;">@validationError.message</span>
                        }
                    </p>
                }
                @inputText(aForm("clientId"), '_label -> "Client ID", 'size -> 50)
                @inputText(aForm("privateKey"), '_label -> "Private Key", 'size -> 50)
                @inputText(aForm("basePath"), '_label -> "Base URL", 'size -> 50)
                @inputText(aForm("fileId"), '_label -> "File Guid", 'size -> 50)
                <input type="submit" value="Delete All Annotations">
            }
        </div>
    <br/>
        @if(success) {
            <div style="padding:20px; border:1px solid black;">
                <span style="color: green">All annotation were deleted successfully</span>
                <iframe src="@url" frameborder="0" width="800" height="600"></iframe>
            </div>
        }
    </div>
}