@(title: String, subTitle: String, data: SetCollaboratorsResult, aForm: Form[Credentials])

@import helper._

@main(title) {

<h3 style="text-align:center;"><a href="/">@title</a> - @subTitle</h3>

<div class='samplecontent' style="padding:10px;">
   Sample is under development. <i>This sample will show how to add collaborator to doc with annotations using Java SDK</i> <br/>
   <br />
    <a href="/docs/sample13.html">Docs for this sample</a>
    <br />
   <br/>
   <p><font color="green">You entered: </font></p>
		<p>Client Id = @aForm.data.get("client_id")</p>
		<p>Private Key = @aForm.data.get("private_key")</p>
		<p>File Id = @aForm.data.get("fileId") </p>
		<p>Collaboration = @aForm.data.get("email") </p>
   <div id="requestForm" style="padding:20px; border:1px solid black;">
		<p>Enter data for request and press "Make request" button </p>
		@myForm(routes.Sample13.index(), 'method -> "POST") {
	        @aForm.globalErrors.map { error =>
			  @if(error.arguments.size > 0){
				  <div>@error.message <a href="@error.arguments.get(0)" target="_blank">@error.arguments.get(1)</a></div>
			  } else {
				  <div>@error.message</div>
			  }
			}
            @inputText(aForm("client_id"), '_label -> "Client ID", 'size -> 100)
	        @inputText(aForm("private_key"), '_label -> "Private Key", 'size -> 100) 
	        @inputText(aForm("fileId"), '_label -> "File GUID", 'size -> 100)
	        @inputText(aForm("email"), '_label -> "Collaboration Email", 'size -> 100, 'placeholder -> "SomeoneRegisteredInGroupdocs@mydomain.com")
	        <input type="submit" value="Make Request">
        }
   </div>

@if(data != null){
   <br/> 
   <div  style="padding:20px; border:1px solid black;">
    <p> Results: </p>
       @for(email <- data.getCollaborators){
       	
       		<p>Collaborator with <font color="blue">@email.getPrimary_email</font> e-mail added to the document</p>
	   
	   }
   </div>
}

<h5 style="text-align:left;">Choose another one sample:</h5>
    <div style="padding:10px;">
      <ul>
        <li> <a href="sample01">Sample01 - How to login to GroupDocs using the API</a></li>
        <li> <a href="sample02">Sample02 - How to list files within GroupDocs Storage using the Storage API</a></li>
        <li> <a href="sample03">Sample03 - How to upload a file to GroupDocs using the Storage API</a></li>
        <li> <a href="sample04">Sample04 - How to download a file from GroupDocs Storage using the Storage API</a></li>
        <li> <a href="sample05">Sample05 - How to copy / move a file using the GroupDocs Storage API</a></li>
        <li> <a href="sample06">Sample06 - How to add a Signature to a document in GroupDocs Signature</a></li>
        <li> <a href="sample07">Sample07 - How to create a list of thumbnails for a document</a></li>
        <li> <a href="sample08">Sample08 - How to return a URL representing a single page of a Document</a></li>
        <li> <a href="sample09">Sample09 - How to generate an embedded Viewer URL for a Document</a></li>
        <li> <a href="sample10">Sample10 - How to share a document to other users</a></li>
        <li> <a href="/sample11">Sample11 - How programmatically create and post an annotation into document. How to delete the annotation</a></li>
        <li> <a href="/sample12">Sample12 - How to list all annotations from document</a></li>
        <li> <a href="/sample13">Sample13 - How to add collaborator to doc with annotations</a></li>
        <li> <a href="/sample14">Sample14 - How to check the list of shares for a folder</a></li>
        <li> <a href="/sample15">Sample15 - How to check the number of document's views</a></li>
        <li> <a href="/sample16">Sample16 - How to insert Assembly questionary into webpage</a></li>
        <li> <a href="/sample17">Sample17 - How to upload a file into the storage and compress it into zip archive</a></li>
        <li> <a href="/sample18">Sample18 - How to convert Doc to Docx, Docx to Doc, Docx to PDF and PPT to PDF</a></li>
        <li> <a href="/sample19">Sample19 - How to Compare documents using Java SDK</a></li>
        <li> <a href="/sample20">Sample20 - How to Get Compare Change list for document using Java SDK</a></li>
        <li> <a href="/sample21">Sample21 - How to Create and Upload Envelop to GroupDocs account using Java SDK</a></li>
        <li> <a href="/sample22">Sample22 - This sample will show how create or update user and add him to collaborators using Java SDK</a></li>
        <li> <a href="/sample23">Sample23 - How to View Document pages as images using Java SDK</a></li>
      </ul>
    </div>

</div>

}