@(success: Boolean, thumbnailUrls: List[String], aForm: Form[Credentials])

@import helper._

@* Register customInput as field constructor for this page (customize input field) *@
@implicitField = @{
    FieldConstructor(customInput.f)
}

@main() {

    <h3 style="text-align:center;"><a href="/">GroupDocs Java SDK Samples</a> - Sample 8</h3>

    <div class='samplecontent' style="padding:10px;">
    <i>This sample will show how to return a URL representing a single page of particular Document in the GroupDocs account using Java SDK</i> <br/>
    <br />
    <a href="@routes.Assets.at("docs/Sample08.html")">Docs for this sample</a>
    <br />
    <br/>
    <div id="requestForm" style="padding:20px; border:1px solid black;">
        <p>Enter data for request and press "Make request" button</p>
        @myForm(routes.Sample08.index(), 'method -> "POST", 'enctype -> "multipart/form-data") {
            @if(aForm.hasGlobalErrors) {
                <p>
                    Error:
                    @for(validationError <- aForm.globalErrors) {
                        <span style="display: block; color: red; font-size: 12px;">@validationError.message</span>
                    }
                </p>
            }
            @inputText(aForm("clientId"), '_label -> "Client ID", 'size -> 50)
            @inputText(aForm("privateKey"), '_label -> "Private Key", 'size -> 50)
            <div>
                <div id="IDtypeChoice" class="file-choice-block">
                <input type="radio" value="guid" onclick="" id="IDfileIdRadio" name="sourse"/>
                    <label for="IDfileIdRadio" class="file-choice-label">File GUID</label>
                <input type="radio" value="url" onclick="" id="IDfileUrlRadio" name="sourse"/>
                    <label for="IDfileUrlRadio" class="file-choice-label">File URL</label>
                <input type="radio" value="local" onclick="" id="IDfilePartRadio" name="sourse"/>
                    <label for="IDfilePartRadio" class="file-choice-label">Local file</label>
                </div>
                <div id="guid">
                @inputText(aForm("fileId"), '_label -> "File GUID", 'size -> 50, 'required -> true, 'id -> "guidField")
                </div>
                <div id="url">
                @inputText(aForm("url"), '_label -> "File Url", 'size -> 50, 'required -> true)
                </div>
                <div id="local">
                @inputFile(aForm("file"), '_label -> "Select file", 'required -> true, 'id -> "fileField")
                </div>
            </div>
            @inputText(aForm("pageNumber"), '_label -> "Page index", 'size -> 50, 'placeholder -> "0", 'required -> true)
            @inputText(aForm("basePath"), '_label -> "Base URL", 'size -> 50)
            <input type="submit" value="Make Request">
        }
    </div>

    @if(success) {
        <br/>
        <div style="padding:20px; border:1px solid black;">
            <p>Results:</p>
            @for((url, i) <- thumbnailUrls.view.zipWithIndex) {

                <table style="border:1px double black;">
                    <tr>
                        <th>Field</th> <th>Value</th>
                    </tr>
                    <tr>
                        <td>Page URL</td> <td>@url</td>
                    </tr>
                </table>
                <span style="color: green">The page you requested:</span> <br />
                <img src="@url">
            }
        </div>

    }

    <script type="text/javascript" language="JavaScript">
    $(function(){
    changeType.allChk = ['guid', 'url', 'local'];
    $('#IDfileIdRadio, #IDfileUrlRadio, #IDfilePartRadio').click(changeType);
    $('#IDfileIdRadio').click();
} );
</script>

</div>

    }