@(title: String, subTitle: String, userInfo: UserInfo, aForm: Form[Credentials])

@import helper._

@* Register customInput as field constructor for this page (customize input field) *@
@implicitField = @{ FieldConstructor(customInput.f) }

@main(title) {

<h3 style="text-align:center;"><a href="/">@title</a> - @subTitle</h3>

<div class='samplecontent' style="padding:10px;">
   <i>This sample will show how to use signer to be autorized at GroupDocs and to get GroupDocs user infromation using Java SDK</i> <br/>
   <br />
    <a href="/docs/sample01.html">Docs for this sample</a>
    <br />
   <br/>
   @if(userInfo != null){
   <br/>
   <p>You entered:</p>
   <p>ClientID = @aForm.data.get("client_id")</p>
   <p>PrivateKey = @aForm.data.get("private_key")</p>
   <p>Base path = @aForm.data.get("server_type")</p>
   <div  style="padding:20px; border:1px solid black;">
        <p> Results: </p>
        <table style="border:1px double black;">
          <tr>
              <th>Field</th><th>Value</th>
          </tr>
          <tr>
               <td>First Name</td><td>@userInfo.getFirstname</td>
          </tr>
          <tr>
               <td>Last Name</td><td>@userInfo.getLastname</td>
          </tr>
          <tr>
               <td>Nick Name</td><td>@userInfo.getNickname</td>
          </tr>
          <tr>
               <td>Primary Email</td><td>@userInfo.getPrimary_email</td>
          </tr>
        </table>
   </div>
   }

   <br/>
   <div id="requestForm" style="padding:20px; border:1px solid black;">
		<p>Enter data for request and press "Make request" button </p>
		@myForm(routes.Sample01.index(), 'method -> "post", 'enctype -> "multipart/form-data") {
			@aForm.globalErrors.map { error =>
			  @if(error.arguments.size > 0){
				  <div>@error.message <a href="@error.arguments.get(0)" target="_blank">@error.arguments.get(1)</a></div>
			  } else {
				  <div>@error.message</div>
			  }
			}
            @inputText(aForm("client_id"), '_label -> "Client ID", 'size -> 50)
	        @inputText(aForm("private_key"), '_label -> "Private Key", 'size -> 50)
	        @inputText(aForm("server_type"), '_label -> "Base URL", 'size -> 50)
	        <input type="submit" value="Make Request">
        }
   </div>

</div>


}