@(success: Boolean, gdFile: com.groupdocs.sdk.model.UploadRequestResult, aForm: Form[Credentials])

@import helper._

@* Register customInput as field constructor for this page (customize input field) *@
@implicitField = @{
    FieldConstructor(customInput.f)
}

@main() {

    <h3 style="text-align:center;"><a href="/">GroupDocs Java SDK Samples</a> - Sample 24</h3>

    <div class='samplecontent' style="padding:10px;">
        <i>This sample will show how to use StorageApi to upload file from URL to GroupDocs account using Java SDK</i> <br/>
    <br />
        <a href="@routes.Assets.at("docs/Sample24.html")">Docs for this sample</a>
    <br />
    <br/>
        <div id="requestForm" style="padding:20px; border:1px solid black;">
            <p>Enter data for request and press "Make request" button</p>
            @myForm(routes.Sample24.index(), 'method -> "POST", 'enctype -> "multipart/form-data") {
                @if(aForm.hasGlobalErrors) {
                    <p>
                        Error:
                        @for(validationError <- aForm.globalErrors) {
                            <span style="display: block; color: red; font-size: 12px;">@validationError.message</span>
                        }
                    </p>
                }
                @inputText(aForm("client_id"), '_label -> "Client ID", 'size -> 50)
                @inputText(aForm("private_key"), '_label -> "Private Key", 'size -> 50)
                @inputText(aForm("server_type"), '_label -> "Base URL", 'size -> 50)
                @inputText(aForm("url"), '_label -> "File URL", 'required -> true)
                <input type="submit" value="Make Request">
            }
        </div>
        @if(success) {
            <div style="padding:20px; border:1px solid black;">
                <p>Results:</p>
                <p>File was uploaded to GroupDocs. Here you can see your file in the GroupDocs Embedded Viewer.</p>
                <iframe src="https://apps.groupdocs.com/document-viewer/Embed/ @gdFile.getGuid" frameborder="0" width="875" height="800"></iframe>
            </div>
        }
    </div>
}