@(success: Boolean, documents: List[com.groupdocs.sdk.model.FileSystemDocument], aForm: Form[Credentials])

@import helper._

@* Register customInput as field constructor for this page (customize input field) *@
@implicitField = @{
    FieldConstructor(customInput.f)
}

@main() {

    <h3 style="text-align:center;"><a href="/">GroupDocs Java SDK Samples</a> - Sample 7</h3>

    <div class='samplecontent' style="padding:10px;">
        <i>This sample will show how to use Document Api to list thumbnails for a document using Java SDK</i> <br/>
    <br />
        <a href="@routes.Assets.at("docs/Sample07.html")">Docs for this sample</a>
    <br />
    <br/>
        <div id="requestForm" style="padding:20px; border:1px solid black;">
            <p>Enter data for request and press "Make request" button</p>
            @myForm(routes.Sample07.index(), 'method -> "POST") {
                @if(aForm.hasGlobalErrors) {
                    <p>
                        Error:
                        @for(validationError <- aForm.globalErrors) {
                            <span style="display: block; color: red; font-size: 12px;">@validationError.message</span>
                        }
                    </p>
                }
                @inputText(aForm("client_id"), '_label -> "Client ID", 'size -> 50)
                @inputText(aForm("private_key"), '_label -> "Private Key", 'size -> 50)
                @inputText(aForm("server_type"), '_label -> "Base URL", 'size -> 50)
                <input type="submit" value="Make Request">
            }
        </div>

        @if(success) {
            <br/>
            <div style="padding:20px; border:1px solid black;">
                <p>Results:</p>
                <table style="border:1px double black;">
                    <tr>
                        <th>Field</th> <th>Value</th>
                    </tr>
                    <tr>
                        <td>
                        @for(document <- documents) {
                            <img src= "data:image/jpg;base64, @document.getThumbnail" width="40" height="40"/> @document.getName <br />
                        }
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
}